@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1527;
  color: #d9d1e2;
  max-width: 950px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Override Radix defaults */
html > body[data-scroll-locked] {
  margin-inline: auto !important;
  padding-inline: 1rem !important;
}

p,
h1,
h2,
h3,
h4 {
  max-width: 75ch;
  letter-spacing: 0.025rem;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 1.5rem;
}

/* Will be removed */
body:has(.afterdark) {
  background-color: #131316;
  color: #eff2ff;

  & a:hover {
    text-decoration-color: #5b89ea;
  }

  & nav:not([aria-label="breadcrumb"]) {
    background-color: #1c1c21d6;
  }

  & footer {
    background-color: #1c1c21;
  }
}

h2,
h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* events section separators */
.pink::before {
  background-color: #e25691;
}

.blue::before {
  background-color: #77f2da;
}

.yellow::before {
  background-color: #eeae43;
}

/* after dark ticket styling */
.ticket {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ticket::before,
.ticket::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2vw;
  background: radial-gradient(circle, #131316 50%, transparent 50%);
  background-size: 10%;
}

.ticket::before {
  top: -1vw;
}

.ticket::after {
  bottom: -1vw;
}

.ticket-seperator::before,
.ticket-seperator::after {
  content: "";
  position: absolute;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background: #131316;
  background-size: 10%;
  top: -2.5vw;
}

.ticket-seperator::before {
  left: -4vw;
}

.ticket-seperator::after {
  right: -1.75vw;
}

a {
  color: #d9d1e2;
}

/* link styling, avoiding events links */
a:hover:not(.path) {
  color: #f9f7f8;
  text-decoration: underline;
  text-decoration-color: #d25f90;
  text-decoration-thickness: 2px;
}
