#Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 0;

  & img {
    width: min(500px, 100%);
    object-fit: cover;
  }

  & button {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  #Contact {
    padding-top: 7rem;
  }
}
