#DJs {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.dj {
  display: flex;
  flex-direction: row;

  /* on small screens change to column view and change order of quote and image for every toher artist */
  @media screen and (max-width: 1200px) {
    flex-direction: column;

    .dj__image {
      margin-inline: auto;
      order: 1;
    }

    .dj__quote {
      order: 2;
      margin-inline: auto;
    }
  }
}

.dj__image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: 5rem;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  & img {
    height: 27rem;
    width: 27rem;
    object-fit: cover;
    border: 5px solid var(--_border_clr);
  }
}

.dj__quote {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--_quote_clr);
  color: var(--dark-clr);

  padding: 2rem;
  margin-block: 7rem auto;

  width: 40ch;
  max-width: 700px;
  word-wrap: break-word;
  line-height: 2rem;
}

.dj__name {
  position: absolute;
  bottom: -4rem;
  left: auto;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--_name-clr);
  color: var(--dark-clr);

  font-size: 2rem;
  padding: 1rem 2rem;
  width: auto;
}

/* custom colours for each artist */
.menos,
.beatbird {
  --_border_clr: var(--blue-clr);
  --_quote_clr: var(--pink-clr);
  --_name-clr: var(--yellow-clr);
}

.stripe {
  --_border_clr: var(--pink-clr);
  --_quote_clr: var(--yellow-clr);
  --_name-clr: var(--blue-clr);
}

.djem {
  --_border_clr: var(--yellow-clr);
  --_quote_clr: var(--blue-clr);
  --_name-clr: var(--pink-clr);
}

/* correct positioning on fullscreen view */
.menos,
.djem {
  @media screen and (min-width: 1200px) {
    margin-left: 5rem;
  }
}
