.dj {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  &:first-child {
    padding-top: 0;
  }
}

.dj__image {
  position: relative;
  margin-inline: 5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  & img {
    height: 27rem;
    width: 27rem;
    object-fit: cover;
  }
}

.dj__quote {
  height: 200px;
  width: 700px;
  margin-top: 7rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  & p {
    width: 40ch;
    line-height: 2rem;
    padding: 2rem;
    padding-left: 5rem;
  }
}

.dj__name {
  position: absolute;
  height: 4.5rem;
  left: 6rem;
  bottom: -2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  & h1 {
    position: relative;
    color: var(--dark-clr);
    font-size: 2rem;
    padding: 1rem;
    bottom: 2rem;
  }
}

.beatbird > .dj__image img {
  border: 5px solid var(--blue-clr);
}

.beatbird > .dj__quote {
  background-color: var(--pink-clr);
  margin-right: 5rem;
}

.beatbird > .dj__image > .dj__name {
  background-color: var(--yellow-clr);
  width: 250px;

  @media screen and (max-width: 480px) {
    margin-left: -1rem;
  }
}

.yellowstreak > .dj__image img {
  border: 5px solid var(--yellow-clr);
}

.yellowstreak > .dj__quote {
  background-color: var(--blue-clr);
  color: var(--dark-clr);
  margin-left: 5rem;
}

.yellowstreak > .dj__image {
  & .dj__name {
    background-color: var(--pink-clr);
    width: 350px;
    margin-left: -3rem;

    @media screen and (max-width: 480px) {
      margin-left: -4.5rem;
    }
  }
}

.stripe > .dj__image img {
  border: 5px solid var(--pink-clr);
}

.stripe > .dj__quote {
  background-color: var(--yellow-clr);
  color: var(--dark-clr);
  margin-right: 5rem;
}

.stripe > .dj__image > .dj__name {
  background-color: var(--blue-clr);
  width: 250px;

  @media screen and (max-width: 480px) {
    margin-left: -1.2rem;
  }
}

.menos > .dj__image img {
  border: 5px solid var(--blue-clr);
}

.menos > .dj__quote {
  background-color: var(--pink-clr);
  margin-left: 5rem;
}

.menos > .dj__image {
  & .dj__name {
    background-color: var(--yellow-clr);
    width: 250px;

    @media screen and (max-width: 480px) {
      margin-left: -1.1rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .dj__image {
    margin-inline: auto;
  }
  .dj__quote {
    width: calc(27rem + 10px);

    & p {
      width: 35ch;
      padding-left: 3rem;
    }
  }

  .beatbird > .dj__quote,
  .stripe > .dj__quote {
    margin: 5rem auto;
    margin-bottom: 20rem;
  }

  .yellowstreak > .dj__quote,
  .menos > .dj__quote {
    position: relative;
    margin-bottom: -45rem;
    margin-inline: auto;
  }

  .beatbird > .dj__image,
  .stripe > .dj__image {
    margin-top: 11rem;
  }
}

@media  screen and (max-widt: 480px) {
  .dj__quote {
    width: auto;
    margin-inline: 5px;
  }

  .dj__image img {
    width: auto;
    margin-inline: 5px;
  }
}
