#Information {
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
}

#info__main {
  position: relative;
  flex: 1 1 auto;
}

#info__bg {
  position: absolute;
  margin-left: 3rem;
  transform: rotate(-10deg);
  border: 5px solid var(--blue-clr);
  overflow: hidden;
  height: 28rem;
}

#info__bg__text {
  background-color: var(--dark-clr);
  opacity: 0.9;
  position: absolute;
  top: 14rem;
  width: 52rem;

  & p {
    border-left: 5px solid var(--blue-clr);
    margin-left: 7rem;
  }
}

#info__aside {
  position: relative;
  font-size: 1.8rem;
  margin-top: 15rem;

  & h1 {
    margin-right: 2rem;
    text-align: right;
  }
}
@media screen and (max-width: 1210px) {
  #Information {
    flex-direction: column;
  }

  #info__aside {
    margin-top: 40rem;
  }
}

@media screen and (max-width: 840px) {
  html {
    overflow-x: hidden;
  }

  #info__bg {
    margin-left: -5rem;
  }

  #info__bg__text {
    padding-inline: 3rem;
    margin-left: -3rem;
    width: 100%;

    & p {
      margin-inline: 1rem;
      width: auto;
    }
  }

  #info__aside {
    font-size: 1.2rem;
  }
}
