#Location {
  display: flex;
  flex-wrap: wrap;
}

#text__container {
  flex: 1 1 auto;
  margin-left: 3rem;
}

#location__container {
  position: relative;
  bottom: 8rem;
  left: 3rem;
}

#location__venue-logo {
  width: 20rem;
  margin-left: 1rem;
  margin-top: -1rem;
}

#location__address {
  margin-top: -1.5rem;
  opacity: 50%;
  text-transform: uppercase;
}

#location__map {
  position: relative;
  flex: 0 0 500px;
  margin-right: 3rem;
  margin-top: 2rem;
  height: 500px;
  background-color: var(--primary-clr);
}

@media screen and (max-width: 1230px) {
  #Location {
    flex-direction: column;
  }

  #text__container {
    margin: auto;
  }

  #location__container {
    bottom: -3rem;
    margin: auto;
  }

  #location__map {
    margin: auto;
    width: 600px;
  }
}

@media screen and (max-width: 630px) {
  #text__container {
    margin-inline: 0.5rem;
    width: auto;

    & p {
      width: auto;
      padding-right: 2rem;
      margin-right: 5rem;
    }
  }

  #location__map {
    margin: 0;
    width: 100%;
  }

  #location__container {
    margin-left: -2rem;
  }
}

@media screen and (max-width: 480px) {
  #text__container {
    margin-inline: 0.5rem;
    width: auto;

    & p {
      width: 90vw;
      margin-left: -1rem;
    }
  }

  #location__map {
    width: 95vw;
  }
}