#navbar {
  height: 100%;
  position: sticky;
  top: 0rem;
  height: 65px;
  width: 100%;
  z-index: 1000;
}

#navbar__list {
  transition: transform 100ms ease;

  display: flex;
  gap: 2.5rem;
  justify-content: center;

  padding: 0;
  margin-top: 4rem;

  list-style: none;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.navbar__list__item > a {
  color: var(--white-clr);
  text-decoration: none;
  position: relative;
  top: 1rem;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--pink-clr);
    text-decoration-thickness: 0.3rem;
    text-shadow: 0px 0px 5px var(--blue-clr);
  }
}

hr {
  position: relative;
  top: 1rem;
  opacity: 0;
  width: calc(100% - 2rem);
  margin-top: -0.8rem;
  transition: opacity 0.1s ease-in-out;
}

@media screen and (max-width: 840px) {
  #navbar {
    position: fixed;

    & #navbar__list {
      margin: 1rem auto;
      background-color: var(--dark-clr);
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-left: 2rem;
    }
  }
}

/* pre-made burger button by me */
#burger__input {
  display: none;
}

#burger {
  position: relative;
  inset: 1.5rem;
  /* size variable */
  --_size: 40px;

  /* set width and height of menu */
  width: var(--_size);
  aspect-ratio: 1;

  transform: rotate(0deg);
  cursor: pointer;
}

#burger div {
  /* sizing */
  height: calc(var(--_size) / 8);
  width: 100%;

  /* bar styling */
  border-radius: 10px;
  background: #eee;

  /* positioning */
  position: absolute;
  left: 0;
  top: calc(var(--_size) / 4);

  /* animation pace */
  transform: rotate(0deg);
  transition: 0.2s ease;

  /* position first span*/
  &:nth-child(1) {
    top: 0px;
  }

  /* position fourth span, layer #3*/
  &:nth-child(4) {
    top: calc(var(--_size) / 2);
  }
}

/* animate on click */
#burger__input:checked + #burger > div {
  /* remove span 1 & 4 */
  &:nth-child(1),
  &:nth-child(4) {
    top: 25%;
    left: 50%;
    width: 0%;
  }
  /* create cross with span 2 & 3*/
  &:nth-child(2) {
    transform: rotate(45deg);
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}

#archive {
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  height: 2.5rem;
  width: 150px;
  color: var(--white-clr);
  background-color: var(--pink-clr);
  border-radius: 20px;
  border: 3px solid var(--yellow-clr);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.5rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: var(--yellow-clr);
    box-shadow: 0px 0px 10px var(--yellow-clr);
  }

  @media screen and (max-width: 1210px) {
    bottom: 0.5rem;
    top: auto;
  }

  @media screen and (max-width: 840px) {
    left: 2rem;
    bottom: 6rem;
    right: auto;
  }
}
